# --- POSTGRES DATABASE ---
# Format: jdbc:postgresql://<host>:<port>/<database_name>
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/object_storage_backend
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres


# --- REDIS CONFIGURATION ---
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
# --- SECURITY / JWT ---
# Generate a secure 256-bit key for signing tokens
JWT_SECRET=Pvkx7P8v3q2Qm6nY9yN7XQv8rG5bLwKcT4eH1JzA6FsU2dR9cV8nWp3yMx0KaQ7L
JWT_ACCESS_TOKEN_EXPIRY=900000
JWT_REFRESH_TOKEN_EXPIRY=604800000